html, body, h1 {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    font-size: 14pt;
    background-color: #303030;
    color: #D0D0D0;
}

header {
    background-color: #404040;
    box-shadow: 0.2rem 0.2rem 0.2rem black;
    padding: 1rem;
}

article{
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

article :not(:last-child) {
    margin-bottom: 2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a.idea {
    padding: 1rem;
    font-size: 18pt;
    background-color: #505090;
}

input.idea {
	padding: 10px;
	font-size: 18pt;
	background-color: #505090;
}

.radio {
  position: relative;
  display: inline-block;
  margin: 0 20px 20px 0;
}

.radio input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
}

.radio label {
  vertical-align: middle;
  cursor: pointer;
}

.radio input[type="radio"] + label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -3px 5px 0 -15px;
  vertical-align: middle;
  font-size: 14px;
  font-family: fontawesome;
  line-height: 19px;
  text-align: center;
  border: 1px solid rgba(0,0,0,.5);
  background: rgba(0,0,0,.25);
}

.radio input[type="radio"] + label:before {
  border-radius: 50%;
}

.radio input[type="radio"]:hover + label:before {
  content: '\f111';
  font-size: 9px;
  color: rgba(255,255,255,.4);
}

.radio input[type="radio"]:checked + label:before {
  content: '\f111';
  font-size: 9px;
  color: rgba(255,255,255,.8);
}

input[type="submit"] {
  text-align: center;
  border: 1px solid rgba(0,0,0,.5);
  display: block;
  margin: auto;
  margin-bottom: 1em;
  padding: 1rem;
  font-size: 18pt;
  background-color: #505090;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

input, textarea {
    background-color: #404040;
    color: inherit;
    border: none;
    font-size: inherit;
}
