{% extends "base.html" %}

{% block content %}
<section>
    {{ tagline }}
</section>

<a class="idea" href="/">Get another Idea!</a>

<div id="share-buttons">

    <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://hackAI.xyz&amp;text={{ tagline }}&amp;hashtags=generateIdeas" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>

    <!-- Email -->
    <a href="mailto:?Subject=Generated Idea For you&amp;Body={{ tagline }} hackAI.xyz">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>

    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{ tagline }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>

    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ tagline }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>

    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
        <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
    </a>

    <!-- Reddit -->
    <a href="http://reddit.com/submit?url=hackAI&amp;title={{ tagline }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
    </a>
</div>

<h4>Projects:</h4>
<ul>
{% for row in suggestions %}
	<l1> {{ row }} </l1>
</ul>
{% endfor %}
{% endblock %}
